.cadastroLogin{
  margin-top: 30px;

}
.titulo{
  text-align: center;
  margin-top: 20px;
  border: 1px solid black transparent ;
}

.login{
  border: 1px solid black transparent;
  justify-content: center;
  width: 60%;
  margin-top: 20px;
}
.formulario{
  border: 1px solid black transparent;
  margin-top: 30px;
}
.row{
  justify-content: center;
  border: 1px solid black transparent;
  margin-top: 20px;
  text-align: center;
}
.texto{
  font-size: 20px;
}

.button{
  border: 1px solid black transparent;
  color: black;
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 20px;
}